{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="{% static 'tailwindCSS.js' %}"></script>
		<script src="{% static 'html2pdf.js' %}"></script>

		<title>LDRP - ITR | Admission Form</title>
	</head>

	<body class="bg-[#F5F5F5] overflow-x-hidden">
		<!-- Navbar -->
		<div class="fixed top-0 w-full bg-[#263A81] p-4 text-white flex items-center justify-between z-50">
			<a href="/">
				<div class="lg:w-[280px] w-[180px]">
					<img src="{% static '/img/LDRP-LOGO.svg' %}" class="object-contain" />
				</div>
			</a>
			<div class="">
				<p class="uppercase font-bold hidden lg:block">Student Information</p>
			</div>
			<div class="flex flex-col lg:flex-row items-start gap-2">
				<div class="">
					<p class="font-bold">Contact No. :</p>
				</div>
				<div class="">
					<p>+ 91 - 079 - 23241492</p>
					<p>+ 91 - 079 - 23241493</p>
				</div>
			</div>
		</div>

		<!-- Degree eng. -->
		<div class="px-5 lg:px-0">
			<div class="lg:mt-24 mt-32 mb-4 lg:w-[90%] w-full mx-auto bg-white p-2 rounded-xl text-center">
				<p class="uppercase text-[#159BD6] font-bold text-lg tracking-[0.02em]">Degree engineering</p>
			</div>
		</div>

		<div class="w-[90%] mx-auto bg-white p-3 px-4 rounded-xl mb-4 overflow-hidden">
			<p class="text-[#159BD6]"><span class="font-bold">Note: </span>Please Fill all the details in <span class="font-bold">CAPITAL</span> Letters only</p>
			<div class="lg:mt-8 mt-4 lg:px-10 px-3">
				<p class="text-[#159BD6] text-center font-bold">UNDERTAKING</p>
				<p class="my-4 font-semibold text-justify">We understand that the fees collected now are on adhoc basis and f we hereby agree to pay the difference as when the final fees as decided by ; fee regularly Committee.</p>
			</div>
			<form id="formDoc" action="/page4/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="lg:px-5 px-3 flex flex-col lg:flex-row items-center justify-between">
					<div class="flex items-center gap-2 w-full lg:w-fit">
						<p class="capitalize font-bold whitespace-nowrap">date :</p>
						<input type="text" name="date" id="date" pattern="\d{1,2}/\d{1,2}/\d{4}" data-title="date" class="border border-[#CBCBCB] rounded-md text-[#159BD6] w-full outline-none focus:outline-none focus:border-[#159BD6] focus:ring-1 focus:ring-[#159BD6] transition-all duration-300 p-1 px-2 text-sm" placeholder="DD/MM/YYYY" title="Date Formate Is DD/MM/YYYY" required />
					</div>
					<div class="my-4 flex lg:flex-col flex-row gap-2 items-center relative">
						<p class="font-bold lg:mb-2">Signature Of the Student</p>
						<label for="signOfStudent" id="signOfStudentName" class="cursor-pointer rounded-md bg-[#159BD6] truncate max-w-[200px] capitalize text-white p-1.5 px-8 font-bold active:bg-[#007CB2]">Upload</label>
						<input hidden type="text" id="signOfStudentUrl" name="signOfStudentUrl" data-title="signOfStudent" />
						<input
							id="signOfStudent"
							type="file"
							name="signOfStudent"
							accept="image/png, image/gif, image/jpeg"
							class="absolute left-0 opacity-0"
							data-title="signOfStudent"
							oninput="(()=>{
								let imageInput = document.getElementById('signOfStudent');
								if (imageInput.files.length > 0) {
									const fileName = document.getElementById('signOfStudent').files[0].name;
									document.getElementById('signOfStudentName').innerHTML = fileName;
								}
								var formdata = new FormData();
								formdata.append('image', imageInput.files[0], imageInput.files[0].name);

								var requestOptions = {
									method: 'POST',
									body: formdata,
									redirect: 'follow'
								};

								fetch('http:\/\/127.0.0.1:8080\/imageUpload\/', requestOptions)
								.then(response => response.json())
								.then(result => {
									console.log(result['image'])
									localStorage.setItem('signOfStudent', result['image']);
									document.getElementById('signOfStudentUrl').value = result['image'];
									localStorage.setItem('signOfStudentName', document.getElementById('signOfStudentName').innerHTML);
								})
								.catch(error => console.log('error', error));
							})()"
						/>
					</div>
					<div class="my-4 flex lg:flex-col flex-row gap-3 items-center relative">
						<p class="font-bold lg:mb-2">Signature Of the Parent</p>
						<label for="signOfParent" id="signOfParentName" class="cursor-pointer rounded-md bg-[#159BD6] truncate max-w-[200px] capitalize text-white p-1.5 px-8 font-bold active:bg-[#007CB2]">Upload</label>
						<input hidden type="text" id="signOfParentUrl" name="signOfParentUrl" data-title="signOfParent" />
						<input
							id="signOfParent"
							type="file"
							name="signOfParent"
							accept="image/png, image/gif, image/jpeg"
							class="absolute left-0 opacity-0"
							data-title="signOfParent"
							oninput=" (()=>{
									let imageInput = document.getElementById('signOfParent');
									if (imageInput.files.length > 0) {
									const fileName = document.getElementById('signOfParent').files[0].name;
									document.getElementById('signOfParentName').innerHTML = fileName;
									}
									var formdata = new FormData();
									formdata.append('image', imageInput.files[0], imageInput.files[0].name);

									var requestOptions = {
									method: 'POST',
									body: formdata,
									redirect: 'follow'
									};

									fetch('http:\/\/127.0.0.1:8080\/imageUpload\/', requestOptions)
									.then(response => response.json())
									.then(result => {
									console.log(result['image'])
									localStorage.setItem('signOfParent', result['image']);
									document.getElementById('signOfParentUrl').value = result['image'];
									localStorage.setItem('signOfParentName', document.getElementById('signOfParentName').innerHTML);
									})
									.catch(error => console.log('error', error));
								})()"
						/>
					</div>
				</div>
				<div class="lg:px-5 px-3">
					<div id="tableHeader" class="bg-[#159BD6] w-full h-fit rounded-lg px-2 flex flex-col lg:flex-row flex-nowrap justify-between items-center transition-all duration-300">
						<div class="h-full flex flex-col lg:flex-row w-full lg:w-fit flex-nowrap lg:items-center gap-5 lg:m-3 lg:my-1 m-2">
							<p class="text-lg font-bold text-white p-1">Upload Documents:</p>
							<select name="documentType" id="documentType" class="bg-[#f5f5f5] p-1 px-5 border-r-[1rem] border-[#f5f5f5] rounded-md font-semibold capitalize outline-none lg:w-max">
								<option value="" class="bg-white" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---Select---</option>
								<option value="SSC" class="bg-white">SSC Marksheet</option>
								<option value="HSC" class="bg-white">HSC Marksheet</option>
								<option value="GUJCET" class="bg-white">GUJCET Marksheet</option>
								<option value="SchoolLC" class="bg-white">School Leaving Certificate</option>
								<option value="AdmissionOrder" class="bg-white">Admission order</option>
								<option value="BangFeeChallan" class="bg-white">BangFee Challan</option>
								<option value="Photograph" class="bg-white">Photograph</option>
								<option value="CasteCerti" class="bg-white">Caste Certificate (if applicable)</option>
								<option value="NCL" class="bg-white">NCL (if applicable)</option>
								<option value="CertiOfPH" class="bg-white">Certificate of P.H. (if applicable)</option>
							</select>
						</div>
						<div class="h-full flex flex-nowrap items-center gap-5 m-3 my-1 relative overflow-hidden">
							<div class="relative lg:p-3 py-3 overflow-hidden">
								<input
									id="documentUpload"
									type="file"
									name="documentUpload"
									accept="image/png, image/jpeg, application/pdf"
									class="absolute left-0 opacity-0"
									oninput="(()=>{
									let imageInput = document.getElementById('documentUpload');
									imageInput.addEventListener('change', () => {
										if (imageInput.files.length > 0) {
											const fileName = document.getElementById('documentUpload').files[0].name;
											document.getElementById('documentUploadName').innerHTML = fileName;
											document.getElementById('confirmDocument').classList.remove('hidden');
										}
									});
								})()"
								/>
								<label for="documentUpload" id="documentUploadName" class="block cursor-pointer rounded-md truncate w-fit lg:!max-w-[300px] max-w-[120px] bg-[#F5F5F5] capitalize text-[#159BD6] p-1.5 px-8 font-bold active:bg-[#159BD688] overflow-hidden">Upload</label>
							</div>

							<p id="confirmDocument" onclick="uploadDocument()" class="hidden cursor-pointer focus:outline-none rounded-md bg-[#F5F5F5] truncate max-w-[200px] capitalize text-[#159BD6] p-1.5 px-8 font-bold active:bg-[#159BD611] transition-all">Confirm</p>
						</div>
					</div>
					<div id="tableRow">
						<!-- <div class='bg-[#F1F1F1] border-x-2 border-[#159BD6] w-full h-fit flex flex-nowrap justify-between items-center py-2 px-5'>
					<p class='text-[#159BD6] font-semibold'>1. Document Name</p>
					<div class='flex flex-nowrap gap-5'>
						<button class='bg-[#159BD6] p-1 px-4 text-white rounded-md font-semibold'>Change</button>
						<button class='border border-[#159BD6] rounded-md p-1 px-6 font-semibold text-[#159BD6]'>View</button>
						<button class='text-red-500 border-b-2 border-red-500 font-semibold'>Remove</button>
					</div>
				</div> -->
					</div>
				</div>
				<div class="w-fit mx-auto flex gap-3 my-4">
					<button type="button" class="bg-[#159BD6] p-2 px-8 text-white font-bold rounded-md" onclick="validateDocuments()">Submit</button>
					<button
						type="reset"
						class="p-2 px-8 border border-[#159BD6] rounded-md text-[#159BD6] font-bold"
						onclick="(()=>{
					window.location.href = '/page3/'
				})()"
					>
						Cancel
					</button>
				</div>
			</form>
		</div>
		<div class="grid grid-rows-2 grid-cols-1 lg:grid-rows-1 lg:grid-cols-2 w-[80%] mx-auto relative">
			<div class="my-5">
				<p class="text-[#263A81] font-bold">Please attach listed Documents:</p>
				<p class="text-[#263A81] font-bold">SSCMarksheet</p>
				<p class="text-[#263A81] font-bold">HSC Marksheet</p>
				<p class="text-[#263A81] font-bold">GUJCET Marksheet</p>
				<p class="text-[#263A81] font-bold">School Leaving Certificate</p>
				<p class="text-[#263A81] font-bold">Caste Certificate (if applicable)</p>
				<p class="text-[#263A81] font-bold">NCL (if applicable)</p>
				<p class="text-[#263A81] font-bold">Certificate of P.H. (if applicable)</p>
				<p class="text-[#263A81] font-bold">Admission order</p>
				<p class="text-[#263A81] font-bold">BangFee Challan</p>
				<p class="text-[#263A81] font-bold">3 photographs</p>
			</div>
			<iframe id="formPDF" name="formPDF" src="/pdf" class="w-full h-full"></iframe>
			<div
				onclick="(()=>{
					convertHtmlToPdf();
				})()"
				class="w-10 h-10 absolute bottom-4 right-4 lg:top-4 lg:right-4 flex items-center justify-center bg-[#159BD6] rounded-full hover:scale-110 transition-all duration-300 hover:cursor-pointer"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="white" class="bi bi-download" viewBox="0 0 16 16">
					<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
					<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
				</svg>
			</div>
		</div>
		<!-- Preview -->
		<div
			id="previewContainer"
			onclick="(()=>{
				document.getElementById('previewContainer').classList.add('hidden');
			})()"
			class="hidden top-0 fixed z-50 w-screen h-screen bg-black/50 px-5"
		>
			<img id="previewImage" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 lg:h-[80%] h-[80%] max-w-[90%] object-contain" src="./img/LDRP-LOGO.svg" alt="" />
		</div>

		<!-- Footer -->
		<div class="w-full bg-[#263A81] p-4 text-white flex lg:flex-row flex-col items-center justify-between">
			<p class="text-justify lg:text-left"><span class="font-bold">Address: </span>LDRP Institute of Technology & Research,Near KH-5,Sector-15,Gandhinagar - 382015.</p>
			<p class="font-bold">Info@ldrp.ac.in</p>
		</div>
		<script>
			function uploadDocument() {
				let file = document.getElementById("documentUpload").files[0];
				let fileName = document.getElementById("documentUpload").files[0].name;
				let documentType = document.getElementById("documentType").value;
				let documentName = document.getElementById("documentType").options[document.getElementById("documentType").selectedIndex].text.replace("(if applicable)", "");
				let rowNum = document.getElementById("tableRow").childElementCount + 1;

				if (document.getElementById("documentUpload").files.length == 0 || documentType == "") {
					alert("Please Select Document Type and Upload Document");
				} else {
					document.getElementById("tableHeader").classList.add("rounded-t-lg");
					document.getElementById("tableHeader").classList.remove("rounded-lg");
					let newRow = document.createElement("div");
					newRow.id = "tableRow-" + rowNum;
					newRow.setAttribute("data-docType", documentType);
					newRow.classList.add("border-x-2", "even:bg-white", "odd:bg-[#F1F1F1]", "last:border-b-2", "last:rounded-b-lg", "border-[#159BD6]", "w-full", "h-fit", "flex", "flex-col", "lg:flex-row", "flex-nowrap", "justify-between", "lg:items-center", "items-start", "lg:py-2", "lg:px-5", "p-5", "tableRows");

					let docName = document.createElement("p");
					docName.classList.add("text-[#159BD6]", "font-semibold");
					docName.innerHTML = '<span class="indexNum">' + rowNum + "</span>. " + documentName + '<span class="font-thin"> (' + fileName + ") </span>";

					let newInput = document.createElement("input");
					newInput.type = "file";
					newInput.accept = "image/png, image/jpeg, application/pdf";
					const fileList = new DataTransfer();
					for (var i = 0; i < document.getElementById("documentUpload").files.length; i++) {
						fileList.items.add(document.getElementById("documentUpload").files[i]);
					}
					newInput.files = fileList.files;
					newInput.setAttribute("hidden", "");
					newInput.name = "document-" + documentType;
					newInput.id = "document-" + documentType;
					newInput.addEventListener("change", () => {
						if (newInput.files.length > 0) {
							const newFileName = newInput.files[0].name;
							docName.innerHTML = '<span class="indexNum">' + rowNum + "</span>. " + documentType + '<span class="font-thin"> (' + newFileName + ") </span>";
						}
					});

					let functionContainer = document.createElement("div");
					functionContainer.classList.add("flex", "flex-nowrap", "gap-5", "mt-4", "lg:mt-0");

					let changeBtn = document.createElement("p");
					changeBtn.classList.add("bg-[#159BD6]", "p-1", "px-4", "text-white", "rounded-md", "font-semibold", "outline-none", "focus:outline-none", "cursor-pointer");
					changeBtn.innerHTML = "Change";
					changeBtn.addEventListener("click", () => {
						document.getElementById("document-" + documentType).click();
					});
					let viewBtn = document.createElement("p");
					viewBtn.classList.add("border", "border-[#159BD6]", "rounded-md", "p-1", "px-6", "text-[#159BD6]", "font-semibold", "outline-none", "focus:outline-none", "cursor-pointer");
					viewBtn.innerHTML = "View";
					viewBtn.addEventListener("click", () => {
						let file = document.getElementById("document-" + documentType).files[0];
						let fileExtension = file.name.split(".").pop();
						if (fileExtension == "pdf") {
							const fileURL = URL.createObjectURL(file);
							window.open(fileURL);
						} else {
							let reader = new FileReader();
							reader.onload = function () {
								let dataURL = reader.result;
								document.getElementById("previewImage").src = dataURL;
								document.getElementById("previewContainer").classList.remove("hidden");
							};
							reader.readAsDataURL(file);
						}
					});

					let removeBtn = document.createElement("button");
					removeBtn.classList.add("text-red-500", "border-b-2", "border-red-500", "font-semibold", "outline-none", "focus:outline-none");
					removeBtn.innerHTML = "Remove";
					removeBtn.addEventListener("click", () => {
						let docType = newRow.getAttribute("data-docType");
						let options = document.getElementById("documentType").options;
						let newOption = document.createElement("option");
						newOption.value = docType;
						newOption.innerHTML = docType;
						options.add(newOption);
						document.getElementById("tableRow").removeChild(newRow);
						if (document.getElementById("tableRow").childElementCount == 0) {
							document.getElementById("tableHeader").classList.remove("rounded-t-lg");
							document.getElementById("tableHeader").classList.add("rounded-lg");
						}
						if (document.getElementById("documentType").options.length == 1) {
							document.getElementById("documentType").classList.add("hidden");
							document.getElementById("documentUpload").classList.add("hidden");
							document.getElementById("documentUploadName").classList.add("hidden");
						} else {
							document.getElementById("documentType").classList.remove("hidden");
							document.getElementById("documentUpload").classList.remove("hidden");
							document.getElementById("documentUploadName").classList.remove("hidden");
						}
						let indexNumArr = document.getElementsByClassName("indexNum");
						for (let i = 0; i < indexNumArr.length; i++) {
							indexNumArr[i].innerHTML = i + 1;
							indexNumArr[i].parentElement.parentElement.id = "tableRow-" + (i + 1);
						}
					});
					functionContainer.appendChild(changeBtn);
					functionContainer.appendChild(viewBtn);
					functionContainer.appendChild(removeBtn);
					newRow.appendChild(docName);
					newRow.appendChild(newInput);

					newRow.appendChild(functionContainer);
					document.getElementById("tableRow").appendChild(newRow);

					let options = document.getElementById("documentType").options;
					for (let i = 0; i < options.length; i++) {
						if (options[i].value == documentType) {
							options[i].remove();
						}
					}
					if (document.getElementById("documentType").options.length == 1) {
						document.getElementById("documentType").classList.add("hidden");
						document.getElementById("documentUpload").classList.add("hidden");
						document.getElementById("documentUploadName").classList.add("hidden");
					} else {
						document.getElementById("documentType").classList.remove("hidden");
						document.getElementById("documentUpload").classList.remove("hidden");
						document.getElementById("documentUploadName").classList.remove("hidden");
					}

					document.getElementById("documentUpload").value = "";
					document.getElementById("confirmDocument").classList.add("hidden");
					document.getElementById("documentUploadName").innerHTML = "Upload";
				}
			}

			function convertHtmlToPdf() {
				var iframe = document.getElementById("formPDF");
				let date = new Date().toLocaleDateString();
				html2pdf()
					.from(iframe.contentDocument.body)
					.set({ margin: -0.23, filename: "LDRP Admission Form (" + date + ").pdf", html2canvas: { scale: 2 }, jsPDF: { unit: "in", format: "a4", orientation: "portrait" } })
					.save();
			}

			let inputArr = document.querySelectorAll("input");
			for (let i = 0; i < inputArr.length; i++) {
				const input = inputArr[i];
				let title = input.getAttribute("data-title");
				if (input.getAttribute("type") != "file") {
					if (localStorage.getItem(title) !== null) {
						input.value = localStorage.getItem(title);
					}
					input.addEventListener("keyup", () => {
						input.value = input.value.toUpperCase();
						localStorage.setItem(title, input.value);
					});
				} else {
					if (localStorage.getItem(title + "Name") !== null) {
						document.getElementById(title + "Name").innerHTML = localStorage.getItem(title + "Name");
					}
				}
			}

			function validateDocuments(event) {
				if (document.getElementById("document-SSC") == null) {
					alert("Please upload SSC marksheet.");
					event.preventDefault();
				}
				if (document.getElementById("document-HSC") == null) {
					alert("Please upload HSC marksheet.");
					event.preventDefault();
				}
				if (document.getElementById("document-GUJCET") == null) {
					alert("Please upload GUJCET marksheet.");
					event.preventDefault();
				}
				if (document.getElementById("document-SchoolLC") == null) {
					alert("Please upload school leaving certificate.");
					event.preventDefault();
				}
				if (document.getElementById("document-AdmissionOrder") == null) {
					alert("Please upload admission order.");
					event.preventDefault();
				}
				if (document.getElementById("document-BangFeeChallan") == null) {
					alert("Please upload Bang Fee Challan.");
					event.preventDefault();
				}
				if (document.getElementById("document-Photograph") == null) {
					alert("Please upload photograph.");
					event.preventDefault();
				}
				document.getElementById("formDoc").submit();
			}
		</script>
	</body>
</html>
