{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="/static/tailwindCSS.js"></script>
		<title>LDRP - ITR | Admission Form</title>
	</head>

	<body class="bg-[#F5F5F5] overflow-x-hidden">
		<!-- Navbar -->
		<div class="fixed top-0 w-full bg-[#263A81] p-4 text-white flex items-center justify-between z-50">
			<div class="lg:w-[280px] w-[180px]">
				<img src="{% static '/img/LDRP-LOGO.svg' %}" class="object-contain" />
			</div>
			<div class>
				<p class="uppercase font-bold hidden lg:block">Student Information</p>
			</div>
			<div class="flex flex-col lg:flex-row items-start gap-2">
				<div class>
					<p class="font-bold">Contact No. :</p>
				</div>
				<div class>
					<p>+ 91 - 079 - 23241492</p>
					<p>+ 91 - 079 - 23241493</p>
				</div>
			</div>
		</div>

		<!-- Degree eng. -->
		<div class="px-5 lg:px-0">
			<div class="lg:mt-24 mt-32 mb-4 lg:w-[90%] w-full mx-auto bg-white p-2 rounded-xl text-center">
				<p class="uppercase text-[#159BD6] font-bold text-lg tracking-[0.02em]">Degree engineering</p>
			</div>
		</div>

		<div class="px-5 lg:px-0">
			<div class="lg:w-[90%] w-full mx-auto bg-white p-3 px-4 rounded-xl mb-4">
				<div class="lg:px-5 mb-10 mt-5">
					<p class="text-[#159BD6] font-bold">ELIGIBILITY. TO APPEAR AT UNIVERSITY EXAMINATION.</p>
					<div class="px-5 my-4">
						<p class="font-bold text-justify lg:text-left">A student shall be deemed to have satisfactory kept terms for first year or any semester provided He/she possesses a testimonial of having:-</p>
						<ol class="list-decimal lg:px-10 px-4 text-justify lg:text-left my-4">
							<li class="font-semibold">Attended at least 90% of the total lectures and 100 % practical and tutorials of every subject of the first year or concerned semester.</li>
							<li class="font-semibold">Carried out the prescribed laboratory work/teamwork and other curricular assignment satisfactorily.</li>
							<li class="font-semibold">Shown satisfactory progress in studies as approved by HOD and Principal.</li>
							<li class="font-semibold">Shown good conduct and character as approved by HOD and principal.</li>
							<li class="font-semibold">Appeared in all internal (Session) tests conducted by College.</li>
							<li class="font-semibold">If HE/She had completed the team work satisfactory than and than HE/ She is allowed to seat in Annual/ Semester Examination.</li>
						</ol>
						<ul class="list-disc lg:px-10 px-4 text-justify lg:text-left">
							<li class="text-[#159BD6] font-bold">Internal Tests are conduct to judge the progressive Academic Performance of the student. If it is found dissatisfactory HE/ She will be liable to detention in the university Examination as per the University rules. Hence all the students must appear in all internal Tests.</li>
						</ul>
					</div>
				</div>
				<div class="lg:px-5 mb-10 mt-5">
					<p class="text-[#159BD6] font-bold">યુનિવર્સિટી પરીક્ષામાં બેસવા માટે લાયકાત :</p>
					<div class="px-5 my-4">
						<ol class="list-decimal lg:px-10 px-4 my-4 text-justify lg:text-left">
							<li class="font-semibold">પ્રથમ વર્ષ અથવા તો જે તે સેમાસ્ટરમાં દરેક વિષયમાં ઓછામાં ઓછા ૯૦% લેકચર્સમાં અને ૧૦૦% પ્રેકટીકલ્સ/ છ ટયુટોરીયલ્સમાં હાજર રહેલ હોવા જોઈએ.</li>
							<li class="font-semibold">લેબોરેટરી વર્ક, ટર્મ વર્ક અને ઈત્તર શૈક્ષણિક એસાઈમેન્ટસ સંતોષકાર રીતે પૂર્ણ કરેલ હોવા જોઈએ.</li>
							<li class="font-semibold">રૈશલિક વિકાસ સંતોષકારક તથા પ્રિન્સિપાલ અને વિભાગીય વડા દ્વારા પ્રમાણિત હોવાં જોઈએ.</li>
							<li class="font-semibold">તેમણે વર્ષ દરમ્યાન સારુ ચારિત્ર્ય તથા વર્તન દાખવ્યું હોવું જોઈએ.</li>
							<li class="font-semibold">કોલેજ દ્વારા લેવાયેલ બધીજ સેશનલ (Internal) પરીક્ષામાં હાજર/ઉત્તીર્ણ થયેલા હોવા જોઈએ.</li>
							<li class="font-semibold">જે તેમણે સંતોપપૂર્વક ટક પૂર્ણ કરેલ હશે તો જ તેમને જે તે વાર્ષિક સેમીસ્ટરની પરીક્ષામાં બેસવા દેવામાં આવશે.</li>
						</ol>
						<ul class="list-disc lg:px-10 px-4 text-justify lg:text-left">
							<li class="text-[#159BD6] font-bold">યુનિવર્સિટી નિયમાનુસાર વિધાર્થ/વિદથિની યુનિવર્સિટીની પરીક્ષામાં બેસવા ગેરલાયક ઠરશે, જો. તેણે/તિણીએ કોલેજ દારા levati સેશનલ (internal) પરીક્ષામાં સંતોષકારક દેખાવ તત બતાવ્યો હોય. દરેક વિદ્યાર્થીવદા્થિનીએ બધી જ સેર સલ (internal) પરિક્ષા ફરજીયાત રહેસે.</li>
						</ul>
					</div>
				</div>
				<div class="lg:px-5 mb-10 mt-5">
					<p class="text-[#159BD6] font-bold">DETENTION :</p>
					<div class="px-5 my-4">
						<p class="font-bold text-justify lg:text-left">A student will be detained from appearing in University Exams if</p>
						<ol class="list-decimal lg:px-10 px-4 text-justify lg:text-left my-4">
							<li class="font-semibold">He/She has not submitted the term-work of the concerned. semester/year.</li>
							<li class="font-semibold">His/her presence in lectures/practicals/tutorials is found 10 be indeaquate</li>
							<li class="font-semibold">He/She has not shown satisfactory academis progress during the term.</li>
						</ol>
					</div>
				</div>
				<div class="lg:px-5 mb-10 mt-5">
					<p class="text-[#159BD6] font-bold">અટકાયત :</p>
					<div class="px-5 my-4">
						<p class="font-bold text-justify lg:text-left">નીચેના ગમે તે એક અથવા તો મ વધારે કારણોસર વિધા! uniવર્રિટી પરિક્ષા મા બેસવા દેવામાં આવશે તહીં.</p>
						<ol class="list-decimal lg:px-10 px-4 text-justify lg:text-left my-4">
							<li class="font-semibold">જો વિદ્યાર્થી દવારા જેતે ટર્મનું ટરમવર્ક submit કરેલ ના હોય.</li>
							<li class="font-semibold">લેકચર્સ/પરેક્ટકલ્સ / ટયુટોરીયલસમાં હાજ ત્તાહોય, કે ટ યલ્સમાં હાજરી અપૂરતી હોય.</li>
							<li class="font-semibold">જેતે ટર્મમાં શૈક્ષણિક દેખાવ સંતોષ કરક નથી.</li>
						</ol>
					</div>
				</div>
				<div class="lg:px-5 mt-5">
					<p class="text-[#159BD6] text-justify lg:text-left"><span class="font-bold">Note : </span>Those who are not fulfilling the criteria of an attendance or any kind of irregularity appropriate action will be taken.</p>
					<p class="text-[#159BD6] text-justify lg:text-left mt-3"><span class="font-bold">Important : </span>PLEASE READ ABOVE DETAILS CAREFULLY AND THEN SIGN UPLOAD BELOW.</p>
					<p class="text-[#159BD6] text-justify lg:text-left mt-2"><span class="font-bold">જરૂરી : </span>ઉપરની વિગતો ધ્યાનપૂર્વક વાંચ્યા પછી જ નીચે સહી અપલોડ કરો.</p>
				</div>
				<form action="/page2/" method="post">
					{% csrf_token %}
					<div class="lg:px-5 flex lg:flex-row flex-col items-center justify-between">
						<div class="flex items-center gap-2 mt-4 lg:mt-0 w-full lg:w-fit">
							<p class="capitalize font-bold whitespace-nowrap">date :</p>
							<input type="text" name="date" id="date" pattern="\d{1,2}/\d{1,2}/\d{4}" data-title="date" class="border border-[#CBCBCB] rounded-md w-full text-[#159BD6] outline-none focus:outline-none focus:border-[#159BD6] focus:ring-1 focus:ring-[#159BD6] transition-all duration-300 p-1 px-2 text-sm" placeholder="DD/MM/YYYY" title="Date Formate Is DD/MM/YYYY" required />
						</div>
						<div class="my-4 flex lg:flex-col flex-row w-full lg:w-fit gap-3 lg:gap-0 items-center relative">
							<p class="font-bold lg:mb-2">Signature Of the Student</p>
							<label for="signOfStudent" id="signOfStudentName" class="cursor-pointer rounded-md bg-[#159BD6] truncate lg:max-w-[200px] max-w-[120px] capitalize text-white p-1.5 px-8 font-bold active:bg-[#007CB2]">Upload</label>
							<input hidden type="text" id="signOfStudentUrl" name="signOfStudentUrl" data-title="signOfStudentUrl" />
							<input
								id="signOfStudent"
								type="file"
								name="signOfStudent"
								accept="image/png, image/gif, image/jpeg"
								class="absolute left-0 opacity-0"
								data-title="signOfStudent"
								oninput="(()=>{
								let imageInput = document.getElementById('signOfStudent');
								if (imageInput.files.length > 0) {
									const fileName = document.getElementById('signOfStudent').files[0].name;
									document.getElementById('signOfStudentName').innerHTML = fileName;
								}
								var formdata = new FormData();
								formdata.append('image', imageInput.files[0], imageInput.files[0].name);

								var requestOptions = {
									method: 'POST',
									body: formdata,
									redirect: 'follow'
								};

								fetch('http:\/\/127.0.0.1:8080\/imageUpload\/', requestOptions)
								.then(response => response.json())
								.then(result => {
									console.log(result['image'])
									localStorage.setItem('signOfStudent', result['image']);
									document.getElementById('signOfStudentUrl').value = result['image'];
									localStorage.setItem('signOfStudentName', document.getElementById('signOfStudentName').innerHTML);
								})
								.catch(error => console.log('error', error));
							})()"
							/>
						</div>
						<div class="my-4 flex lg:flex-col flex-row w-full lg:w-fit gap-3 lg:gap-0 items-center relative">
							<p class="font-bold lg:mb-2">Signature Of the Parent</p>
							<label for="signOfParent" id="signOfParentName" class="cursor-pointer rounded-md bg-[#159BD6] truncate lg:max-w-[200px] max-w-[120px] capitalize text-white p-1.5 px-8 font-bold active:bg-[#007CB2]">Upload</label>
							<input hidden type="text" id="signOfParentUrl" name="signOfParentUrl" data-title="signOfParentUrl" />
							<input
								id="signOfParent"
								type="file"
								name="signOfParent"
								accept="image/png, image/gif, image/jpeg"
								class="absolute left-0 opacity-0"
								data-title="signOfParent"
								oninput=" (()=>{
									let imageInput = document.getElementById('signOfParent');
									if (imageInput.files.length > 0) {
									const fileName = document.getElementById('signOfParent').files[0].name;
									document.getElementById('signOfParentName').innerHTML = fileName;
									}
									var formdata = new FormData();
									formdata.append('image', imageInput.files[0], imageInput.files[0].name);

									var requestOptions = {
									method: 'POST',
									body: formdata,
									redirect: 'follow'
									};

									fetch('http:\/\/127.0.0.1:8080\/imageUpload\/', requestOptions)
									.then(response => response.json())
									.then(result => {
									console.log(result['image'])
									localStorage.setItem('signOfParent', result['image']);
									document.getElementById('signOfParentUrl').value = result['image'];
									localStorage.setItem('signOfParentName', document.getElementById('signOfParentName').innerHTML);
									})
									.catch(error => console.log('error', error));
								})()"
							/>
						</div>
					</div>
					<div class="w-fit mx-auto flex gap-3 my-4">
						<button type="submit" class="bg-[#159BD6] p-2 lg:px-8 px-4 text-white font-bold rounded-md">Save And Next</button>
						<button type="reset" class="p-2 px-14 border border-[#159BD6] rounded-md text-[#159BD6] font-bold">Cancel</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Footer -->
		<div class="w-full bg-[#263A81] p-4 text-white flex lg:flex-row flex-col items-center justify-between">
			<p class="text-justify lg:text-left"><span class="font-bold">Address: </span>LDRP Institute of Technology & Research,Near KH-5,Sector-15,Gandhinagar - 382015.</p>
			<p class="font-bold">Info@ldrp.ac.in</p>
		</div>
		<script>
			let inputArr = document.querySelectorAll("input");
			for (let i = 0; i < inputArr.length; i++) {
				const input = inputArr[i];
				let title = input.getAttribute("data-title");
				if (input.getAttribute("type") != "file") {
					if (localStorage.getItem(title) !== null) {
						input.value = localStorage.getItem(title);
					}
					input.addEventListener("keyup", () => {
						input.value = input.value.toUpperCase();
						localStorage.setItem(title, input.value);
					});
				} else {
					if (localStorage.getItem(title + "Name") !== null) {
						document.getElementById(title + "Name").innerHTML = localStorage.getItem(title + "Name");
					}
				}
			}
			document.getElementById("signOfStudentUrl").value = localStorage.getItem("signOfStudent");
			document.getElementById("signOfParentUrl").value = localStorage.getItem("signOfParent");
		</script>
	</body>
</html>
